.whatIDo {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -5.62px;
  line-height: 137.5px;
  font-weight: 400;
  font-family: inherit;
}
.designInstances,
.whatIDoWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.whatIDoWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.designInstances {
  border: 0.9px solid var(--color-black);
  background-color: var(--color-white);
  height: 250px;
  width: 400px;
  outline: 0;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-91xl-3) var(--padding-89xl) var(--padding-91xl);
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 600;
  font-size: var(--font-size-4xl-2);
  color: var(--color-black);
  max-width: 100%;
}
.graphicDesign1 {
  position: relative;
  letter-spacing: 0.89px;
  font-weight: 600;
}
.designInstances1,
.designInstances2 {
  border: 0.9px solid var(--color-black);
  background-color: var(--color-white);
  width: 400px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.designInstances1 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-90xl) var(--padding-xl);
}
.designInstances2 {
  height: 250px;
  outline: 0;
  padding: var(--padding-91xl-3) var(--padding-89xl) var(--padding-91xl);
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 600;
}
.designInstances2,
.designInstances3,
.designInstances4,
.designInstances5,
.graphicDesign {
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--font-size-4xl-2);
  color: var(--color-black);
}
.designInstances3,
.designInstances4,
.designInstances5 {
  border: 0.9px solid var(--color-black);
  background-color: var(--color-white);
  height: 250px;
  width: 400px;
  outline: 0;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-91xl-4) var(--padding-89xl) var(--padding-91xl);
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 600;
  max-width: 100%;
}
.graphicDesign {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 101.2px 40.8px;
  min-height: 601px;
}
.graphicDesign,
.whatIDoContent,
.whatIDoContentWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.whatIDoContent {
  width: 1288px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-122xl-4);
}
.whatIDoContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-499xl-4);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-106xl);
  color: var(--color-gray);
  font-family: var(--font-plus-jakarta-sans);
}
@media screen and (max-width: 1325px) {
  .whatIDoContent {
    gap: var(--gap-52xl);
  }
  .whatIDoContentWrapper {
    padding-bottom: var(--padding-318xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .whatIDo {
    font-size: var(--font-size-31xl);
    line-height: 82px;
  }
  .graphicDesign {
    gap: var(--gap-xl);
  }
  .whatIDoContent {
    gap: var(--gap-16xl);
  }
  .whatIDoContentWrapper {
    padding-bottom: var(--padding-200xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .whatIDo {
    font-size: var(--font-size-12xl);
    line-height: 55px;
  }
  .graphicDesign1 {
    font-size: var(--font-size-lgi);
  }
  .whatIDoContent {
    gap: var(--gap-lg);
  }
}
